@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Noto+Sans:wght@400;700;900&display=swap');

:root {
  --maincolor: rgba(10, 10, 10, 10);
}

.bg-black {
  background-color: black;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--maincolor);
  overflow: hidden;
}

.navbar {
  background-color: var(--maincolor);
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-weight: 4;
  font-family: Belanosima;
  z-index: 3;
}

.navbar-icon {
  font-size: 24px;
  margin-right: 10px;
  position: absolute;
  right: 20px;
  z-index: 6;
}

.logo {
  padding-top: 10;
}

#navToggle :hover {
  cursor: pointer;
}

.sidebar {
  display: flex;
  position: absolute;
  background-color: rgba(10, 10, 10, 10);
  width: 500px;
  height: 100%;
  font-size: 24px;
  top: 0;
  z-index: 4;
  transform: translate(-100%);
  transition: transform 0.3s cubic-bezier(1, 0.6, 0.6, 1);
  color: white;
}

.links {
  text-decoration: none;
  list-style-type: none;
}

.links li a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding-top: 40px;
}

.showSidebar {
  transform: translate(0%)
}

#blob {
  background: linear-gradient(
  to right,
  #00E5FF,
  #0087FF,
  #9615FF
  );
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50;
  top: 50;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: 1;
  animation: rotate 20s infinite;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(250px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}